/* 宠物小精灵图标样式 */
.element-icon {
    width: 80%;
    height: 80%;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

/* 各个宠物小精灵的图标 */
.element-1 {
    background-image: url('../assets/images/pokemon/pikachu.png');
}

.element-2 {
    background-image: url('../assets/images/pokemon/squirtle.png');
}

.element-3 {
    background-image: url('../assets/images/pokemon/bulbasaur.png');
}

.element-4 {
    background-image: url('../assets/images/pokemon/charmander.png');
}

.element-5 {
    background-image: url('../assets/images/pokemon/mewtwo.png');
}

.element-6 {
    background-image: url('../assets/images/pokemon/snorlax.png');
}

.element-7 {
    background-image: url('../assets/images/pokemon/jigglypuff.png');
}

.element-8 {
    background-image: url('../assets/images/pokemon/gengar.png');
}

.element-9 {
    background-image: url('../assets/images/pokemon/psyduck.png');
}

.element-10 {
    background-image: url('../assets/images/pokemon/eevee.png');
}

.element-11 {
    background-image: url('../assets/images/pokemon/steelix.png');
}

.element-12 {
    background-image: url('../assets/images/pokemon/meowth.png');
}

.element-13 {
    background-image: url('../assets/images/pokemon/pidgeot.png');
}

.element-14 {
    background-image: url('../assets/images/pokemon/mew.png');
}

.element-15 {
    background-image: url('../assets/images/pokemon/wartortle.png');
}

.element-16 {
    background-image: url('../assets/images/pokemon/geodude.png');
}